#Backup Settings : 
#use the ; character to separate subfolders.
#Refer to the instructions for examples and explanations.
#Below is an example of selection for a backup.


#Source
checkBoxSrcMTP=true
textBoxSrcFolder=C:\Users\trist

#Select specific subfolders inside the source folder
checkBoxSubfolder=true
textBoxSubfolder=Desktop;Documents;Downloads;Music;Pictures;Videos;Informatique;Jeux

#Destination
checkBoxDstMTP=false
textBoxDstFolder=D:\Backup

#Create a log file
checkBoxLOG=true
checkBoxLOGMTP=false
textBoxLocationLOG=D:\

#Compares the metadata of files (enabled by default)
checkBoxCompMeta=true

#Automatisation :

#Opens in the background and closes after the backup is updated.
backgroundLaunch=false
autoClose=false

#Number of threads used by the process, leave at 0 for best performances
#Set the value to 1 if the source or destination of the backup is an HDD.
maxThreads=0

#The backup will copy EVERYTHING (disabled by default)
includeSysTemp=true